/* --- RESET STYLES --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
textarea {
	resize:none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
body {
	font: 10pt/14pt Arial;
	color:#333;
	width: 100%;
	height: 100%;
	background:url('/images/bg.gif');
}
a {
	color:#006f35;
	outline: none;
	text-decoration: underline;
}
a:hover {
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
input[type="text"], input[type=password], textarea {
    border:1px solid #DADADA;
    background:white url(/css/images/field-background.gif) repeat-x left top;
    padding:5px 6px;
	color:#565656;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size:13px;
}
:focus {
	outline: 5px auto -webkit-focus-ring-color;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
/*	
	min-height: 100%;
	height: auto !important;
	height: 100%;
*/
	background:#fff;
	z-index:1;
	position:relative;
	padding-bottom:20px;
}
#wrapper:after {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}

/* --- Header --- */
h1 {
	font:15pt/18pt Arial;
	font-weight:normal;
	color:#008243;
}
h2 {
	font:15pt/18pt Arial;
	font-weight:normal;
	color:#008243;
}
#logo {
	height:152px;
	width:298px;
	background:#006f35;
	float:left;
}
#logo > img {
	width:208px;
	height:35px;
}
#logo:hover {
	cursor:pointer;
}
/* --- authBar --- */
.auth_mini {
	height:40px;
	float:left;
	border-left:1px solid #f9f9f9;
}
.auth {
	width:283px;
	padding-left:75px;
	background:#008243;
}
.user {
	width:323px;
	padding-left:35px;
	background:#f3a800;
}
.auth_mini li {
	float:left;
	text-align:center;
	line-height:40px;
	margin-left:10px;
}
.auth_mini a {
	color:#fff;
}
#ab1 {
	padding-left:10px;
	background:url('/images/auth_icon.gif') no-repeat 0 center;
	/*list-style: url('/images/auth_icon.gif') no-repeat center;*/
}
#ab2 {
	padding-left:10px;
	background:url('/images/reg_icon.gif') no-repeat 0 center;
	/*list-style: url('/images/reg_icon.gif') no-repeat center;*/
}
#ub1 {
	padding-left:10px;
	background:url('/images/u_data_icon.gif') no-repeat 0 center;
	/*list-style: url('/images/u_data_icon.gif') no-repeat center;*/
}
#ub2 {
	padding-left:10px;
	background:url('/images/u_orders_icon.gif') no-repeat 0 center;
	/*list-style: url('/images/u_orders_icon.gif') no-repeat center;*/
}
#ub3 {
	padding-left:10px;
	background:url('/images/logout_icon.gif') no-repeat 0 center;
	/*list-style: url('/images/logout_icon.gif') no-repeat center;*/
}
/* --- feedback --- */
#header_contacts {
	height:107px;
	width:359px;
	float:left;
	position:relative;
	background:#f9f9f9;
	padding-top:5px;
}
#header_contacts li {
	width:200px;
	margin:0 90px 5px;
}
#header_contacts h2 {
	font:14pt/14pt Arial;
	color:#000;
	margin-bottom:4px;
}
#header_contacts a {
	font-size:13pt;
	color:#555;
	outline: none;
	text-decoration: none;
	border-bottom:1px dashed #555;
}
/* --- menu --- */
#mainMenu {
	height:37px;
	width:1000px;
	background:#006f35;
	clear:both;
	border-top:5px solid #f0f0f0;
}
#mainMenu > li {
	float:left;
	line-height:37px;
	text-align:center;
	border-right:1px solid #fff;
}
#mainMenu > li:hover {
	background:#268454;
	cursor:pointer;
}
#mainMenu a {
	color:#fff;
}
/* --- search --- */
#searchBox {
	width:1000px;
	padding:6px 0 5px 0;
	height:40px;
	background:#f3a800;
	clear:both;
	border-bottom:5px solid #f0f0f0;
}
#searchBox input[type="text"] {
	width:740px;
	height:25px;
	margin:0 20px 0 35px;
	font-size:20pt;
	color:#666;
}
#searchBox input[type="submit"] {
	width:170px;
	height:30px;
	font-size:12pt;
	color:#333;
}
/* --- content --- */
#content {
	width:960px;
	min-height:600px;
	position:relative;
	clear:both;
	padding:20px;
	overflow:hidden;
}
/* --- Footer --- */
#footer {
	width:960px;
	margin:0 auto;
	height:77px;
	background:#006f35;
	border-top:5px solid #f0f0f0;
	clear:both;
	color:#fff;
	padding:20px;
	position:relative;
}
#footer a {
	color:#fff;
}
#footer > div {
	width:320px;
	height:37px;
	float:left;
	font-family:Tahoma;
	font-size:14px;
}
#footer > div#counters {
	width:235px;
	height:31px;
	position:absolute;
	right:0px;
	bottom:25px;
}
#footer > div:first-child {
	font: normal normal normal 11px/normal Tahoma, Arial, Helvetica, sans-serif;
}
#footer > div:first-child > div {
	background: url('/images/logo-xproject.gif') no-repeat 0 center;
	padding-left:40px;
}
#footer > div:first-child a {
	text-decoration:none;
}
/* --- misc --- */
.g {
	color:#006f35;
}
.opaque {
	width:100%;
	background:url('/images/opaque.png');
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}
.loader {
	position:fixed;
	z-index:1005;
/*
	background:url('/images/loader.gif') no-repeat;
*/
	top:50%;
	left:50%;
	padding:5px;
	height:30px;
	line-height:30px;
	background:#fff;
	border-radius:10px;
	border:1px solid #eee;
	opacity:0.8;
	color:#666;	
	margin-left:-20px;
	margin-top:-20px;
}
.loader > img {
	vertical-align:middle;
}
span.price {
	font-size:13pt;
}
span.price > span {
	color:#006f35;
}
span.priceOld {
	color:red;
	font:normal 12pt/12pt Arial;
	text-decoration:line-through;
}
a.sys_link {
	text-decoration:none;
	border-bottom:1px dashed #555;
	color:#555;
}
.dn {
	display:none;
}
div.cornered {
	background:#F7F7F7;
	padding: 20px;
	position: relative;
	border-radius:15px;
	width:auto;	
}
.clearfix {
	clear:both;
}
img[src$="cornerb_tr.gif"] {
	position:absolute;
	right:-1px;
	top:-1px;
}
img[src$="cornerb_tl.gif"] {
	position:absolute;
	left:-1px;
	top:-1px;
}
img[src$="cornerb_br.gif"] {
	position:absolute;
	right:-1px;
	bottom:-1px;
}
img[src$="cornerb_bl.gif"] {
	position:absolute;
	left:-1px;
	bottom:-1px;
}
img[src$="corner_tr.gif"] {
	position:absolute;
	right:0px;
	top:0px;
}
img[src$="corner_tl.gif"] {
	position:absolute;
	left:0px;
	top:0px;
}
img[src$="corner_br.gif"] {
	position:absolute;
	right:0px;
	bottom:0px;
}
img[src$="corner_bl.gif"] {
	position:absolute;
	left:0px;
	bottom:0px;
}
img[src$="/x.png"] {
	position:absolute;
	z-index:1001;
	top:30px;
	right:30px;
}
img[src$="/x.png"]:hover {
	cursor:pointer;
}
.modal {
	position:absolute;
	z-index:1001;
	left:50%;
}
.modal > div {
	float:left;
	position:relative;
}
.modalContentHeader {
	min-height:30px;
	background:#fff;
}
.modalContentHeader > h2 {
	font:14pt/18pt sans, Arial;
	color:#006F35;
	font-weight:normal;
	margin-right:30px;
}
.modalContentContent {
	background:#fff;
	overflow:auto;
	padding-top:10px;
	position:relative;
}
.modalTL {
	background:url('/images/basket-t-l.png');
	width:40px;
	height:40px;
}
.modalT {
	background:url('/images/basket-t.png') repeat-x;
	height:40px;
}
.modalTR {
	background:url('/images/basket-t-r.png');
	width:40px;
	height:40px;
}
.modalBL {
	clear:left;
	background:url('/images/basket-b-l.png');
	width:40px;
	height:40px;
}
.modalB {
	background:url('/images/basket-b.png') repeat-x;
	height:40px;
}
.modalBR {
	background:url('/images/basket-b-r.png');
	width:40px;
	height:40px;
}
.modalL {
	clear:left;
	background:url('/images/basket-l.png') repeat-y;
	width:40px;
}
.modalR {
	background:url('/images/basket-r.png') repeat-y;
	width:40px;
}
img[src$="modal_arrow.png"] {
	position:relative;
	bottom:20px;
}
.error_list > li {
	color:red;
}
#notice {
	color:#fff;
	background:url('/images/opaque.png');
	border:1px solid #fff;
	border-radius:15px;
	-moz-border-radius:15px;
	width:200px;
	padding:10px;
	position:fixed;
	z-index:1500;
	top:50px;
	left:50px;
	display:none;
}
img[src="/images/right_btn.gif"]:hover, img[src="/images/left_btn.gif"]:hover {
	cursor:pointer;
}
h4.hide {
	font:14px/14px Arial;
	color:#006f35;
	margin-bottom:10px;
}
h4.hide:hover {
	cursor:pointer;
}
.blockCentralizer {
	display:block;
	position:relative;
	text-decoration:none;
}
.blockCentralizer > img {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
.limeColored {
	color:#05ff00;
}

/* --- specials --- */
.specialFlag {
	position:absolute;
	top:0px;
	left:0;
	padding:3px;
	color:#fff;
	margin-bottom:10px;
}
.freeDelivery {
	background:#bb4444;
}
.discount {
	background:#4dca30;
}
.specialFlagView1 {
	font:italic 12px Arial;
}
.specialFlagView2 {
	font:italic 16px Arial;
}